.youengineeringrockz {
  text-align: right; }
  .youengineeringrockz a,
  .youengineeringrockz a:visited {
    padding: 0 3px;
    color: #222222;
    color: rgba(34, 34, 34, 0.77); }
  .youengineeringrockz a:hover {
    color: #B00909; }
